/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.nav {
    -fx-background-color: #B38867;
    /*-fx-background-color: #90AFC5;
    -fx-background-color: lightsalmon;*/
}

.nav__button {
    -fx-background-color:  #DDBC95;
}

.nav__button:hover {
    -fx-background-color: #ba9972;
}

/*form*/

.form__title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-min-height: 20;
}

.form__sub__title {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-min-height: 20;
}

.form__label {

}

.form__textarea {
    -fx-min-height: 80;
}

.form__textfield {
    -fx-min-height: 36;
}

/*form button*/
.form__button, .action__button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.form__button:hover {
    -fx-cursor: hand;
}

.form__button--submit {
    -fx-background-color: lime;
    /*-fx-font-size: 14;*/
}
.form__button--submit:hover {
    -fx-background-color: limegreen;
}

.form__button--clear {
    -fx-background-color: gray;
}
.form__button--clear:hover {
    -fx-background-color: darkgray;
}

.action__button--delete {
    -fx-background-color: red;
}

.action__button--edit {
    -fx-background-color: blue;
}

.action__button--refresh {
    -fx-background-color: yellowgreen;
}